WatsonAssistant/webhooks/flows.json
[{"id":"bb7c5aa2.a0a2f8","type":"tab","label":"Forecast","disabled":false,"info":""},{"id":"9cae15c1.49c718","type":"http in","z":"bb7c5aa2.a0a2f8","name":"","url":"/forecast","method":"post","upload":false,"swaggerDoc":"","x":120,"y":40,"wires":[["d0a3209f.d6668"]]},{"id":"d0a3209f.d6668","type":"function","z":"bb7c5aa2.a0a2f8","name":"Prepare to OpenWeather","func":"msg.location = {\n    city: msg.payload.city,\n    country: msg.payload.country\n};\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":100,"wires":[["9d63a623.655df8"]]},{"id":"9d63a623.655df8","type":"openweathermap","z":"bb7c5aa2.a0a2f8","name":"","wtype":"current","lon":"","lat":"","city":"","country":"","language":"pt","x":130,"y":160,"wires":[["e5b56798.81b698"]]},{"id":"e5b56798.81b698","type":"http response","z":"bb7c5aa2.a0a2f8","name":"","statusCode":"200","headers":{},"x":100,"y":220,"wires":[]}]